<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <form action="/add" method="POST">
                <input type="text" name="content">
                <input type="submit" value="Create">
            </form>
        </header>
        <main>
            <% for(let note of notes){ %>
                <article class="post-it">
                    <p class="content"><%= note.content %></p>
                    <form class="edit-form hidden" action="/edit/<%=note._id%>" method="POST">
                        <textarea name="content" cols="30" rows="10"><%=note.content%></textarea>
                        <input type="submit" value="Update">
                    </form>
                    <form action="/delete/<%=note._id%>" method="POST">
                        <input type="submit" value="Delete">
                    </form>
                    <button class="edit-btn">Edit</button>
                </article>
            <% } %>

        </main>
    </div>
    <script src="/public/js/main.js"></script>
</body>
</html>